name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      # PASO NUEVO: Generar el timestamp
      - name: Get current date
        id: date
        run: echo "date=$(date +'%d-%m-%Y-%Hh%Mm')" >> $GITHUB_OUTPUT

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/covid_project:latest
            ${{ secrets.DOCKER_USERNAME }}/covid_project:${{ steps.date.outputs.date }}
